body {
  background-color: rgb(255, 255, 255);

}

#logo {
  width:20%;
  height:20%;
}

.navbar-brand{
  font-family: 'Righteous';
  margin-left:1%;
}

#navbar-nav li{
  font-family: arial;
  padding:5%;
}
#nav-link{
  color:gray;
}

#nav-link:hover{
  border-radius: 4px;
  transition: 0.3s;
  background-color: #997ad3;
  color:#ffffff;
}

@media only screen and (max-width:410px){
  #navbutton{
   margin:0 auto;
  }
  .navbar-brand{
   margin: 0 auto;
  }
}